<h2 class="title-field" type="text" name="title" contentEditable="true"><%= title %></h2>
<h3 class="content-field" type="text" name="content" contentEditable="true"><%= content %></h3>
<button class="update"> update </button>
<button class="delete"> delete </button>
